@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;

  font-family: Arial, sans-serif;
}

button {
  background: #464646;
}

button,
input,
textarea {
  font: inherit;
}

input,
textarea {
  padding: 8px;
  border: 2px solid #9b9b9b;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #1b1b1b; 
}


button {
  padding: 6px 10px;
  cursor: pointer;
}