@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;

  font-family: Arial, sans-serif;
}

button,
input,
textarea {
  font: inherit;
}

input,
textarea {
  padding: 8px;
}

button {
  padding: 6px 10px;
  cursor: pointer;
}